AWS_REGION=us-east-1
AWS_PROFILE=default

PROJECT_NAME=opsintel-copilot
S3_BUCKET_NAME=opsintel-copilot-angad

DATABRICKS_HOST=
DATABRICKS_TOKEN=

RDS_HOST=
RDS_PORT=5432
RDS_DATABASE=opsintel
RDS_USER=opsintel_user
RDS_PASSWORD=

BEDROCK_REGION=us-east-1