# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment files
.env
.env.local

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log

# Mac
.DS_Store

# IDE
.vscode/

# Generated synthetic data
sample_data/**/*.csv
sample_data/**/*.json
sample_data/**/*.parquet